body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

section {
    margin-top: 20px;
}

article {
    background-color: #fff;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bdy-img-blog{
    width: 100%;
 }
  
.bdy-img-blog-obj{
    width: 60%;
}
.blc-cmd-promt{
    color: #f4f4f4;
    margin-right: 5px;
}
.blc-cmd{
    padding: 10px;
    background: #2f0438;
    color: #f4f4f4;
    font-weight: 500;
    font-size: 12px;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid #09d82a;
    font-family: 'Courier New', monospace;
    display: flex;
}
